@import "tailwindcss";
@font-face {
  font-family: "font";
  src: url(../Font/YekanBakhFaNum-Light.ttf);
}
* {
  font-family: "font";
}
@layer components {
  .swiper {
    @apply w-full h-100 mt-5 absolute top-0;
  }
  .swiper-slide {
    @apply flex justify-center items-center text-center rounded-2xl overflow-hidden;
  }
  .swiper-slide img {
    @apply w-full h-full bg-cover;
  }
  .categuryImage {
    @apply flex flex-col justify-center items-center gap-4 text-sm font-bold;
  }
  .btnOfersWonder {
    @apply w-fit h-fit px-4 py-2 text-sm rounded-full bg-white transition-all hover:shadow shadow-2xl hover:bg-green-500 cursor-pointer font-bold;
  }
}
